{% load static %}

<header>
    <nav>
        <div class="profile-nav-container">
            <div class="profile-nav">
                <span class="profile-icon-container">
                    <img class="profile-icon" src="{% static 'images/icon_sample.jpg' %}">
                </span>
                <div class="profile-name">Chow</div>
            </div>
        </div>

        <a class="logo" href="/">
            <img class="logo" src="{% static 'images/dinder.svg' %}">
        </a>
    </nav>  
 
</header>