{% load static %}


{% if '/login' in request.path or 'register' in request.path %}
<div class="navbar" style="justify-content: center">
{% else %}
<div class="navbar">
{% endif %}
    {% if '/login' in request.path or 'register' in request.path %}

    {% else %}
    <a href="/matches" draggable="false" title="Matches" data={{request.path}}>
        <div class="matches-container">
            {% if matches_len > 0 %}
            <div class="matches-number-container">{{matches_len}}</div>
            {% endif %}
            <img class="matches-img" src="{% static 'images/matches.svg' %}" draggable="false">
            <img class="matches-img-alt hide" src="{% static 'images/matches-alt.svg' %}" draggable="false">
        </div>
    </a>
    {% endif %}
    
    <a href="/" draggable="false">
        <img class="logo" src="{% static 'images/dinder.svg' %}" draggable="false" title="Dinder">
        <img class="logo-alt hide" src="{% static 'images/dinder-alt.svg' %}" draggable="false" title="Dinder"> 
    </a>

    {% if '/login' in request.path or 'register' in request.path %}

    {% else %}
    <a href="/profile" draggable="false" title="Profile">
        <div class="navbar-profile-image-container" style="background-image: url('/{{user_profile.image}}')"></div>
    </a>
    {% endif %}
</div>
