@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400&display=swap');

:root {
    --primary: linear-gradient(to right, #FF9966, #FF5E62);
    --background:#FAFAFA;
    --header: #FEFEFE;

    --text-primary: #4b433f;
    --text-secondary: #8F8B8B;

    --text-input: #fffdfd;

    --line: rgb(225, 225, 225);

    --page-gutter: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;

    min-width: 320px;

    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/****** HEADER *******/
header {
    border-bottom: 1px solid var(--line);
    background-color: var(--header);
    position: relative;
}


nav {
    display: flex;
    align-items: center;

    height: 60px;
    padding: 0 20px;

    margin: 0 auto;
}

.profile-nav {
    display: flex;
    align-items: center;

    cursor: pointer;
}

/** Profile Nav Modal ***/

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}


.profile-nav-overlay {
    display: none; /* Hidden by default */

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */

    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 100;
}

.slider {
    position: absolute;
    width: 300px;
    height: 100%;

    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.profile-nav-modal {
    display: flex;
    flex-direction: column;
    justify-content: start;

    width: 100%;
    height: 100%;
    min-height: 350px;

    background-color: var(--background);
}


.modal-header {
    display: flex;

    align-items: center;

    width: 100%;
    height: 61px;

    background: var(--primary);

    padding: 0 20px;
}

.modal-header .profile-name {
    color: var(--header);
}

.modal-header > img {
    margin-left: auto;
    cursor: pointer;
}


.main-menu-heading {
    font-size: 12px;
    font-weight: 600;

    color: var(--text-secondary);
    padding: 15px 20px 0 20px;
}

.main-menu-container {
    display: flex;
    align-items: center;
    justify-content: start;

    width: 260px;
    height: 40px;

    border: 1px solid var(--line);
    padding: 10px 20px;

    cursor: pointer;

    margin: 15px auto;
}

.main-menu-container > img {
    width: 15px;
    height: auto;
}

.main-menu-container > div {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-primary);

    padding-left: 10px;
}
/** End Profile Nav Modal ***/

.profile-icon-container {
    width: 30px;
    height: 30px;
} 
.profile-icon {
    border-radius: 50%;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.profile-name {
    font-size: 14px;
    font-weight: 700;
    color: var(--text-primary);

    margin-left: 12px;
}

.logo {
    position: absolute;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



/****** CARD *******/

.card-container {
    width: 500px;
    height: 600px;

    background-color: var(--header);
    border: 1px solid var(--line);
    border-radius: 3px;

    margin-top: 50px;

    margin-left: auto;
    margin-right: auto;
}

.user-container {
    display: flex;
    align-items:center;

    height: 62px;
    padding: 15px 15px;
}

.user-icon-container {
    width: 30px;
    height: 30px;
} 

.user-icon {
    border-radius: 50%;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.user-name {
    font-size: 12px;
    font-weight: 700;
    color: var(--text-primary);

    margin-left: 10px;
}

.photo-container {
    width: 100%;
    height: 400px;
}

.photo {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.details-container {
    display: flex;
    flex-direction: column;

    padding: 15px 15px;
}

.dog-info {
    display: flex;
    justify-content: space-between;
}

.dog-info .info-container {
    display: flex;
}

.info-container > div:first-child {
    font-size: 16px;
    font-weight: 700;
}
.info-container > div:last-child {
    font-size: 14px;
    font-weight: 400;

    color: var(--text-secondary);

    padding-left: 10px;
}

.dog-info .dog-location-container {
    display: flex;
    align-items: center;
}

.dog-location-container > img {
    width: 10px;
}

.dog-location-container > div {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-secondary);
    
    padding-left: 10px;
    
}

.dog-desc {
    font-size: 12px;
    font-weight: 400;

    color: var(--text-primary);

    padding-top: 10px;
}


.options-container {
    padding-top: 5px;
    display: flex;

    justify-content: center;
    gap: 80px;
}

.options-container > img {
    cursor: pointer;
}

.options-container > *:hover {
    opacity: 0.5;
}

.nothing-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

.nothing-container > div {
    font-size: 18px;
    color: var(--text-secondary);
    font-weight: 700;

    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.nothing-container > img {
    width: 75%;
    height: 75%;
    opacity: 0.9;

    object-fit: cover; 
}


/*** Login Form **/

.login-form-container {
    width: 300px;

    margin: 0 auto;
    margin-top: 50px;

    padding: 20px 20px;
    background-color: var(--header);
    border: 1px solid var(--line);
}

.login-form-container > div:first-child {
    text-align: center;

    padding-bottom: 20px;
    font-weight: 700;
    color: var(--text-primary);
}


.login-form-container a > div {
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-secondary);
}

.login-form, .register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;

    background-color: var(--text-input);
    color: var(--text-primary);
    border: 1px solid var(--line);
    border-radius: 3px;
    width: 100%;
    height: 35px;
    padding: 5px 20px;

    margin-bottom: 12px;
}

.form-text::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 400;
}

.form-text:focus {
    outline:none;
}

.form-submit {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;

    background: var(--primary);
    color: var(--header);

    border: none;
    border-radius: 3px;

    height: 35px;

    margin-top: 7px;
    margin-bottom: 5px;
    
    padding: 6px 16px;

    cursor: pointer;

    transition: all 0.3s ease 0s;  
}

.form-submit:hover {
    background: var(--primary);
}

/*** Register Form **/

.register-form-container {
    width: 300px;

    margin: 0 auto;
    margin-top: 50px;

    padding: 20px 20px;
    background-color: var(--header);
    border: 1px solid var(--line);
}


.register-form-container > div:first-child {
    text-align: center;

    padding-bottom: 20px;
    font-weight: 700;
    color: var(--text-primary);
}

.register-form-container a > div {
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-secondary);
}

.register-form .form-heading {
    padding-bottom: 15px;
    font-size: 12px;
    font-weight: 600;
    color: var(--text-secondary);
}

.fullname-container {
    display: flex;
    gap: 10px;
}

#img1 {
    padding-bottom: 25px;
}

#img2 {
    padding-bottom: 25px;
}


/****** FOOTER*******/
footer {
    margin-top: 20px;
}


.copyright-text {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-secondary);

    margin: 0 auto;
}