{% extends 'main.html' %}
{% load static %}

{% block content %}
    
    <div class="card-container">
        <div class="user-container">
            <div class="user-icon-container">
                <img class="user-icon" src="{{profiles.user_image}}" draggable="false">
            </div>
            <div class="user-name">{{profiles.user.username}}</div>
        </div>
        <div class="photo-container">
            <img class="photo" src="{{profiles.dog_image}}" draggable="false">
        </div>
        <div class="details-container">
            <div class="dog-info">
                <div class="info-container">
                    <div>{{profiles.dog_name}}</div>
                    <div>{{profiles.dog_age}} months</div>
                </div>
                <div class="dog-location-container">
                    <img class="location-icon" src="{% static 'images/location.svg' %}">
                    <div>{{profiles.location}}, Laguna</div>
                </div>
            </div>
            <div class="dog-desc">
                {{profiles.dog_description}}
            </div>
        </div>
        <div class="options-container">
            <img src="{% static 'images/reject.svg' %}">
            <img src="{% static 'images/love.svg' %}">
        </div>
    </div>

{% endblock content %}